/* boilerplate */
.App {
  text-align: center;
}

.App-header {
  background-color: #191a1d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-top: 10px;
}

/* number picker */

.NumberPicker {
  margin: 10px;
}

.NumberPicker input:hover {
  cursor: pointer;
}

.NumberPicker span{
  font-size: medium;
}

.negativeButton {
  border-radius: 8px 1px 1px 8px;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  border: 0px;
}

.positiveButton {
  border-radius: 1px 8px 8px 1px;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  border: 0px;
}

/* card */

.img {
  width: 100px;
  border: 2px solid white;
  border-radius: 1px;
}

.card {
  background-color: #414141;
  border: 5px solid #252525;
  border-radius: 5px;
  margin: 30px;
}

.card img {
  margin: 10px;
}

.title {
  margin: 0px 10px 10px 10px;
  font-size: x-large;
}


/* Cards */

#cards {
  display: flex;
}

#enviarMensaje {
  border: 1px;
  border-radius: 6px;
  background-color: #007a00;
  font-size: medium;
  padding: 12px;
  color: rgb(211, 210, 210)
}

#enviarMensaje:hover {
  cursor: pointer;
}

#gitImage {
  width: 80px;
  margin: 20px;
}

#gitImage:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px){
  #cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}