/* boilerplate */
.App {
  text-align: center;
}

.App-header {
  background-color: #191a1d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-top: 10px;
}

/* number picker */

.NumberPicker {
  display: inline;
}

.NumberPicker input:hover {
  cursor: pointer;
}

.NumberPicker span{
  font-size: medium;
}

.negativeButton {
  border-radius: 8px 1px 1px 8px;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  border: 0px;
}

.positiveButton {
  border-radius: 1px 8px 8px 1px;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  border: 0px;
}

/* card */

.img {
  width: 100px;
}

.card {
  background-color: #414141;
  border: 5px solid #252525;
  border-radius: 5px;
  margin: 30px;
}

.title {
  margin: 0;
}


/* Cards */

#cards {
  display: flex;
}